<div class="col-6">
    <h3 class="mt-5 text-center">Account Statement</h3>
    <div class="btn-group border" class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-primary border-1">Credit</button>
        <button type="button" class="btn btn-primary border-1">Debit</button>
        <button type="button" class="btn btn-primary border-1">All</button>
      </div>
      <br>
      <br><br>

    <table class="text-center">
        <thead>
            <tr>
              <th class="">No.</th>
              <th class="m-5">type</th>
              <th class="m-5 w-50">Amount</th>
              <th class="m-5">Date</th>
            </tr>
        </thead>
       <tbody>
            <tr>
              
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
       </tbody>
        
      </table>
</div>
<br>
<br>
<br>

<div mt-5><button type="button" class="btn btn-warning">Export As PDF</button></div>
<br>
<br>
<br>
<div class="col-6"></div>
